body {
  background-color: black;
}

.text {
  color: white;
}

div.content {
  margin: 20px;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

a {
  color: #ad451e;
  text-decoration: none;
}
